body{
    text-align: center;
    background-color: #21212b;
    color: #dadadb;
    font-family: open-sans,Helvetica,sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.8;
    min-height: 100vh;
    background: #21212b;
}
.main-container{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-shadow: 0 0 5px white;
    padding: 20px;
    margin-top: 80px;

}
.form-container{
    display: flex;
    flex-direction: column;
}
.header{
    font-weight: 300;
    color: #fff;
    border-bottom-style: none;
    text-shadow: #fa73d9 0 0 8px;
}
.form-container>*{
margin: 10px 0;
padding:5px 10px
}
.form-container>textarea{
    height: 250px;
    
}
.containerLolly{
    margin-top: 30px;
    display: flex;
   padding: 20px 40px;
  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}
.Lolly{
    padding: 1em 1em;
    margin-bottom: 1.5em;
    background-color: rgba(0,0,0,.2);
    box-shadow: 0 0 10px rgb(0 0 0 / 60%);
    text-align: left;
    font-style: italic;
    font-size: 1.1em;
    
}
.from {
    padding-left: 2em;
}
.mess{

}
.from .recip{
    font-family: Yellowtail,cursive;
    font-size: 1.6em;
    font-style: normal;
    text-shadow: #000 0 0 10px;
}
.preLink {
    color: #fa73d9;
    margin-top: .5em;
    padding: .5em 1em;
    border: 1px solid #000;
    background-color: #000;
}
@media screen and (max-width: 800px) {
   .Lolly{
       width: 280px;
   } 
   .pl{
       margin: 2px;
       color: yellow;
       white-space: nowrap; 
       width: 300px; 
       overflow: hidden;
       text-overflow: ellipsis; 
       border: 1px solid #000000;
   }
   .preLink{
    /* padding: 7px;
    font-size: 15px;
    width: 280px;
    margin-right: 60px; */
   }
}